body{
    font-family:"Microsoft YaHei";
}
a{
    text-decoration: none;
    color: #00712F;
}
i{
    margin: 0 5px;
}
header{
    background-color: #00712F;
    display: flex;
    justify-content:space-around;
}
.top-nav{
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
}
.top-nav a{
    display: flex;
    padding: 20px 18px;
    color: #fff;
}
.top-nav a:hover{
    background-color: #B29873;
}

.logo{
    text-align: center;
    margin:25px 0 15px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #B29873;
}

.head-wrap{
    display: flex;
    justify-content: center;
}
.head{
    width: 85%;
    display: flex;
    flex-wrap: wrap;
}
.head li{
    flex-grow: 1;
    text-align: center;
    position: relative;
}
.head li a{
    display: block;
    line-height: 40px;
    font-size: 15px;
}
.head li:hover a{
    background-color: #00712F;
    color: #fff;
}
.head li:hover .s{
    display: block;
}
.head li .s{ 
    display: none;
    position: absolute;
    top:40px;
    width: 100%;
    text-align: center;
    z-index:9999;
}
.head li .s a:hover{
    background-color: #B29873;
    color: #00712F;
}

.img_wrap{
    position: relative;
    height: 560px;
    margin: 25px 0 40px 0;
    overflow: hidden;
}
.img_wrap li{
    position: absolute;
}
.img1,.img2,.img3{
    width: 100%;
    height:560px;
}
.img_wrap li:nth-child(1){
    z-index: 1;
    width: 90%;
    background-color: red;
    margin: 0px 5%;
}
.img_wrap li:nth-child(2){
    width: 90%;
}
.img_wrap li:nth-child(3){
    width: 90%;
    margin-left: 10%;
}
.img_wrap .pointer{
    position: absolute;
    z-index: 9999;
    bottom: 20px;
    left: 48%;
}
.img_wrap .pointer a{
    float: left;
    width: 8px;
    height: 8px;
    margin: 0 5px;
    background-color: rgb(76, 82, 76);
    border-radius: 50%;
    border: 2px solid transparent;
}
.pointer a:nth-child(1),.pointer a:hover{
    background-color: rgb(186, 160, 127);
}




.main-wrap{
    display: flex;
}
.main-wrap h3{
    width: 100%;
    font-size: 23px;
    color: #00712F;
    padding-bottom: 10px;
    border-bottom: 1px solid #00712F;
    margin-bottom: 15px;
}
.main-wrap span{
    color:rgb(186, 160, 127)
}
.main-wrap h3 span{
    font-size: 14px;
    margin-left: 5px;
}
.main-wrap h3 a{
    float: right;
    font-size: 13px;
    color: black;
}
.title a{
    color:black;
}
.news-wrap{
    width: 55%;
    margin-left: 9%;
    margin-right: 2%;
    display: flex;
    flex-wrap: wrap;
}
.news-wrap div{
    width: 46%;
    height: 300px;
    padding: 0 2%;
    overflow: hidden;
}
.news-wrap div:hover{
    background-color: rgb(248,248,248);
}
.main-wrap p{
    margin: 20px 0;
    text-align:justify;
}
.news-wrap div p:last-child a{
    font-size: 13px;
    color: rgb(142, 142, 142);
    line-height: 200%;
}
.news-wrap div p:last-child a:hover{
    color: rgb(186, 160, 127);
}
.news-wrap img{
    width: 100%;
}
.aside-wrap{
    width: 27%;
}
.aside-wrap div div{
    border-bottom: 1px solid rgb(234,234,234);
}
.aside-wrap .title a:hover{
    color: #00712F;
}




.article-wrap{
    background-color: #00712F;
}
.article{
    display: flex;
    padding: 25px 0;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.article li{
    width: 300px;
    padding: 10px 10px 20px;
    margin: 20px;
    background-color: #fff;
}
.article li h2 {
    margin-top: 14px;
}
.article li h2 a{
    color: black;
}
.article li h2 a:hover{
    color: #00712F;
}
.article li p{
    line-height: 180%;
    font-size: 14px;
    margin-top: 25px;
    color: #777;
}
.img-wrap1,.img-wrap2,.img-wrap3{
    height: 150px;
    background-size: cover;
}
.img-wrap1{
    background-image: url(http://upload.hzau.edu.cn/2021/0331/1617182028951.jpg);
}
.img-wrap2{
    background-image: url(http://upload.hzau.edu.cn/2021/0321/1616332983779.jpg);
}
.img-wrap3{
    background-image: url(http://upload.hzau.edu.cn/2021/0331/1617182712566.jpg);
}
.article li p a{
    font-size: 13px;
    display: inline-block;
    color: #fff;
    background-color: #B29873;
    width: 40px;
    line-height: 28px;
    border-radius: 4px;
    text-align: center;
}



.foot-wrap{
    padding: 60px 0;
    background-color: #F0F0E1;
    display: flex;
    justify-content: center; 
} 
.foot{
    display: flex;
    width: 1200px;
    flex-wrap: wrap;
}
.foot li{
    flex-grow: 1;
    display: flex;
    flex-direction: column; 
    align-items: center;
}
.foot li h4{
    margin-bottom: 10px;
}
.foot li h4 a{
    font-size: 15px;
    color: #22132d;
}
.foot li>a{
    margin: 6px 0;
    font-size: 13px;
    color: #585858;
}
.foot-wrap a:hover{
    color: #4F608C;
}



footer{
    background-color: #00712F;
    color:#fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer p{
    margin: 6px 0;
}
footer a{
    color: #fff;
}
footer p:first-child{
    padding-top:10px;
}
footer p:last-child{
    padding-bottom: 6px;
}